:root {
    --primary-grey: #ececec;
    --secundary-grey: #c5c5c5;
    --dark-main:  #1a1a1a;
    --dark-sec: #363636;
    --azul-plin: #255f85b6;
    --azul-plin-2: #0e81e6;
    --vermelho-plin: #ff3333;
    --vermelho-plin-2: #161616;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff00
}

body::-webkit-scrollbar-thumb {
    background-color: #0000006a;
    border-radius: 5px;  
}

.dark {
    transition: .3s;
}



.back {
    background-color: #ffffff;
}

.back.dark {
    background-color:  var(--dark-main);
}



.header-container {
    display: flex;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
}

.header-container.dark {
    background-color:var(--dark-main);
}

.sub-container {
    padding: 5px 0px 9px 0px;
}

.sub-container, li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.navigation_open {
    font-size: 1em;
    font-weight: 500;
}

.navigation_open ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

.navigation, .dark a {
    text-decoration: none;
    color: #ffffff;
}

.div.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_X {
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}


.menu_X img {
    padding: 5px;
}

.menu_svg {
    cursor: pointer;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_svg:hover {
    background-color: var(--secundary-grey);
    transition: .3s;
}

.menu_svg.dark:hover {
    background-color: var(--azul-plin);
    transition: .3s;
}

.menu_svg img{
    width: 1em;
    height: 1.1em;
    margin: 0px 10px 0px 10px;
}

.wrapper{
    display: inline-flex;
    user-select: none;
}

.wrapper .static-txt {
    color: #000000;
    font-size: 30px;

}
.dark .wrapper .static-txt {
    color: #ffffff;
    font-size: 30px;
}

.static-txt {
    position: relative;
    top: 9px;
}

.wrapper .dynamic-txts {
    margin-left: -15px;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
}

.dynamic-txts li {
    font-size: 30px;
    font-weight: 500;
    color: var(--vermelho-plin);
    position: relative;
    top: 0;
    animation: slide 3s steps(2) infinite;
}


@keyframes slide {
    100% {
        top: -120px;
    }
}
.dynamic-txts li span {
    position: relative;
}


.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid var(--vermelho-plin);
    animation: typing 1.5s steps(12) infinite;
}

.dark .dynamic-txts li span {
    color: var(--azul-plin-2);
}

.dark .dynamic-txts li span::after {
    background: var(--dark-main);
    border-left: 1px solid var(--azul-plin-2);
    transition: 0.3s;

}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -15px 0 15px;
    }
}

.flags {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 7px;
    z-index: 999;
}

.flags img {
    cursor: pointer;
}

.flag_open {
    position: fixed;
    top: -140px;
    opacity: 0%;
    transition: .3s;
}

.flag_open.showFlag {
    opacity: 100%;
    top: 40px;
}

.utilizador_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.utilizador_icon img{
    padding: 1px;
    margin-left: 10px;
    background-color: rgba(114, 116, 116, 0);
    cursor: pointer;
}

 .open {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: var(--primary-grey);
    width: 250px;
    height: 100%;
    z-index: 1000;
    transition: .3s;
}

.open.acti {
    left: 0;
}

.open.dark {
    background-color: var(--dark-main);
}

.lateral {
    height: 100%;
    margin: 0;
    padding: 0;
}

.item-menu {
    cursor: pointer;
    margin: 10px;
    width: 24vh;
    padding: 10px 0px 10px 30px;
}


.item-menu:hover {
    border-radius: 16px;
    background-color: #c5c5c5;
}

.dark .item-menu:hover {
    background-color: var(--azul-plin);
}

.item-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    user-select: none;
}

.item-menu, .dark span {
    color: #fff;
}


.txt_link {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

.theme-open {
    position: absolute;
    left: -260px;
    top: -180px;
    padding: 1px;
    opacity: 0%;
    transition: .3s;

}

.theme-open.act {
    position: absolute;
    opacity: 100%;
    left: 260px;
    top: 180px;
    background-color: #fff;
    padding: 1px;
    border-radius: 16px;
}

.dark .theme-open.act {
    background-color: var(--dark-main);
}

.themes {
    border-radius: 10px;
    padding: 6px;
    margin: 10px; 
    background-color: #c9c9c9;
    cursor: pointer;
}

.dark .themes {
    background-color: var(--dark-sec);
}
.dark .themes:hover {
    background-color: var(--azul-plin);
}


.themes a{
    padding: 0px 15px 0px 15px;
 }

.section-container {
    padding: 1.1em 0em 1.1em 0em;
    display: inline-block;
    width: 100%;
    height: 100%;
}



#btnTop {
    display: flex;
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: #27272734;
    border-radius: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#btnTop:hover {
    background-color: #2727279c;
}

.arrow {
    border: solid #FFF;
    border-width: 0px 4px 4px 0;
    border-radius: 1px;
    padding: 4px;
    align-items: center;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
}


img {
    user-select: none;
}

.cursos-tec {
    padding-top: 60px;
}

.iframe {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.iframe h2{
    margin-right: 8px;
    color: var(--vermelho-plin);
    
} 

.dark .iframe h2{
    margin-right: 8px;
    color: var(--azul-plin-2);
    
} 

.iframe iframe {
    border-radius: 16px;
}



.p-curso {
    padding: 30px 90px;
}

.p-curso p {
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 10px;
}


.h1-curso h1 {
    color: var(--dark-main);
}

.h1-curso,.dark h1 {
    color: var(--azul-plin-2);
}

.p-curso h3{
    color: var(--vermelho-plin-2);
}

.p-curso,.dark h3 {
    color: #584a81;
}

.p-curso h5{
    color: #202020;
}

.p-curso,.dark h5{
    color: #eee9e9;
}
.p-curso p{
    color: #2e2e2e;
}

.p-curso,.dark p{
    color: #eee9e9;
}
.sunAndMoon{
    margin-left: -15%;
}

.titulo-2 {
    position: relative;
    display: inline-block;
    color: #242424;
}

.dark .titulo-2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #0e81e6;
    background: linear-gradient(180deg, rgba(14,129,230,1) 18%, rgba(26,153,232,1) 35%, rgba(26,123,236,1) 49%, rgba(24,0,255,1) 100%);
    border-radius: 6px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform 1s;
}

.titulo-2:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.titulo-2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: var(--vermelho-plin);
    background: linear-gradient(180deg, rgb(230, 14, 14) 18%, rgb(232, 84, 26) 35%, rgb(236, 26, 26) 49%, rgb(255, 0, 0) 100%);
    border-radius: 6px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform 1s;
}


.titulo {
    position: relative;
    display: inline-block;
    color: #000000;
}

.dark .titulo {
    color: #0e81e6;
}

.titulo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: var(--vermelho-plin);
    background: linear-gradient(180deg, rgb(230, 14, 14) 18%, rgb(232, 57, 26) 35%, rgb(236, 26, 26) 49%, rgb(255, 0, 0) 100%);
    border-radius: 6px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform 1s;
}

.dark .titulo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: rgb(14,129,230);
    background: linear-gradient(180deg, rgba(14,129,230,1) 18%, rgba(26,153,232,1) 35%, rgba(26,123,236,1) 49%, rgba(24,0,255,1) 100%);
    border-radius: 6px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform 1s;
}

.titulo:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
